# ========================================
# 1. Byte-compiled / Optimized files
# ========================================
__pycache__/
*.py[cod]
*$py.class

# ========================================
# 2. Virtual Environments
# ========================================
venv/
env/
.env/
ENV/

# ========================================
# 3. Database Lokal
# ========================================
*.db
*.sqlite3
pemesanan.db

# ========================================
# 4. OS / System files
# ========================================
.DS_Store
Thumbs.db

# ========================================
# 5. IDE / Editor settings
# ========================================
.vscode/
.idea/
*.swp